@page "/xemblog/{id:int}"
@model razorwebef.Pages.Blog.DetailsModel

@{
    ViewData["Title"] = @Model.Article.Title;
}

<h1>@Model.Article.Title</h1>
<p><i> @Html.DisplayNameFor(model => model.Article.PublishDate)</i></p>
<p><i>@Html.DisplayFor(model => model.Article.PublishDate)</i></p>

<hr />
@* @Html.DisplayNameFor(model => model.Article.Content) *@
@Html.Raw(Model.Article.Content)
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article?.ID">Sửa</a> |
    <a asp-page="./Index">Danh sách bài viết</a>
</div>
